<body>
    <h1> 1° passo:</h1>
    <p>Faça o login abaixo, utilizando sua conta google. Siga as instruções abaixo para uma correta execução do
        programa:
    </p>
    <ol>
        <li>Faça o login na sua conta do google normalmente. </li> <br>
        <li>DESATIVE, caso estiver ativado, a <b>Verificação em duas etapas</b>, para isso faça:</li> <br>
        <ol>
            <li>Acesse este painel , <a target="_blank" href="https://myaccount.google.com/u/1/?tab=kk">clicando
                    aqui</a>
            </li><br>
            <li>Na aba segurança desative a opção: <b>verificação de 2 etapas</b></li><br>
        </ol>
        <li>Ative a opção <b>Acesso a app menos seguro</b>, <a target="_blank"
                href="https://www.google.com/settings/security/lesssecureapps">clicando aqui:</a> </li><br>
        <li>Preencha abaixo seu email e senha . O programa irá testar se está tudo certo para os próximos passos. Não se
            preocupe, não precisará mais preencher essas informações caso o programa retorne 'OK'</li>
    </ol>
    <form id="email-form">
        <label for="fname">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="lname">Senha:</label><br>
        <input type="text" id="senha" name="senha">
        <button class="btn" type="submit">Teste</button><br>
    </form>
    <p><b>AGUARDE</b> a resposta do teste:</p>
    <p id="resposta_teste"></p>

    <!-- Fim do Passo 1-->

    <h1> 2° passo:</h1>
    <p>Faça o upload do seu arquivo <b>.xlxs</b>.</p>
    <p>O arquivo deve estar no formato acima</p>

    <form action="/uploader" method="POST" enctype="multipart/form-data">
        <label for="fname">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <br>
        <label for="lname">Senha:</label><br>
        <input type="text" id="senha" name="senha"><br>
        <br>
        <label for="fname">Nome da coluna para separar o grupo:</label><br>
        <input type="text" id="coluna_grupo" name="coluna_grupo"><br>
        <br>
        <label for="fname">Nome da coluna que estão os emails:</label><br>
        <input type="text" id="coluna_email" name="coluna_email"><br>
        <br>
        <label for="fname">Titulo do email:</label><br>
        <input type="text" id="titulo_email" name="titulo_email"><br>
        <br>
        <label for="fname">Arquivo Texto:</label><br>
        <input type='file' id="texto" name='texto' value=''><br>
        <br>
        <label for="fname">Arquivo Excell:</label><br>
        <input type="file" name="database" /><br>
        <br>
        <input type="submit" />
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Scripts autorais-->
    <script src="../static/js/response_test.js"></script>

</body>